:root {
    --primary-color:#1e1f26;
    --text-color:#9a9a9f;
}
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #000;
}
.nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color:var(--primary-color) ;
}
.nav-home {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .nav-home-icon {
     color: #fff;
     font-size: 34px;
     margin-right: 12px;
 }
 .nav-home-text {
    font-size: 12px;
     color: #fff;
 }
 .nav-list-button {
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
 }
 
 .btn {
    /* color: var(--text-color); */
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    display: flex;
    margin: 0 2px;
    padding: 4px 4px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    min-width: 38px;
    height: 38px ;
    background-color:#444857 ;
 }
 .btn:hover {
    transition:  0.3s;
    cursor: pointer;
    opacity: 0.8;
 }
 .active {
    color: #000;
    background-color:#47cf73 ;
 }
 .heart-btn {
    border: 2px solid rgba(204, 204, 204, 0.882);
 }
 .heart-btn i {
    color: var(--text-color);
 }
 .card-infors{
    margin-top: 56px;
    width: 100%;
    position: relative;
 }
 .card-img {
    object-fit: cover;
    /* display: block; */
    width: 100%;
    max-height: 92vh;
 }
 .card-infor {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: auto auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }
 .card-infor a {
    text-decoration: none;
    color: #ccc;
 }
 .icon-dow {

    margin-top: 8px;
    border-radius: 2px;
    padding: 8px 8px;
    border: 3px solid #ccc;
 }
 #content {
    max-width: 1200px;
    margin: 0 auto;
 }
 .discography,
 .about {
    display: flex;
    margin-top: 46px;
    margin-bottom: 20px;
    font-size: 24px;
    color:var(--text-color) ;
    border-bottom: 2px var(--text-color) solid;
    border-width: 100%;
 }
 .about-infor {
    padding: 0 12px;
    color: var(--text-color);
    display: flex;
 }
 .about-img {
    /* margin-right: -2px; */
    gap: 9px;
    flex: 0 0 39.9%;
    display: flex;
    flex-wrap: wrap;
 }
 .about-img img {
    width:48%;
 }

 .about-infor p {
    margin-top: -5px;
 }
 .discography-img {
    width: 100%;
    padding: 0 24;
    display: flex;
    justify-content: center;

 }
 .discography-img-infor {
   width: 25%;
   margin: 0 12px;
 }
 .discography-img-infor img {
   display: block;
    border-radius: 3px;
    width: 100%;
    height: auto;
    object-fit:cover;
 }
 .discography-img-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discography-img-infor p {
    margin-bottom: 12px;
    color: var(--text-color);
}
.footer {
    text-align: center;
    margin-top: 46px;
    margin-bottom: 20px;
    font-size: 20px;
    color:var(--text-color) ;
}
.drop-menu {
   font-weight: 500;
   color: #fff;
   font-size: 12px;
   display: flex;
   margin: 0 0;
   padding: 4px 4px;
   border-radius: 3px;
   align-items: center;
   justify-content: center;
   min-width: 38px;
   height: 38px ;
   background-color:#444857 ;
   position: relative;
   display: none;

}
.drop-menu-list::before{
   content: "";
   display: block;
   position: absolute;
   top: -8px;
   right: 0;
   width: 96px;
   height: 8px;
}
.drop-menu:hover {
   cursor: pointer;
   background: #fff;
   color: #000;
   transition: 0.3s;
}
.drop-menu:hover .drop-menu-list {
   display: block;
}
.drop-menu-list {
    min-width: 200px;
    height: 100px;
   position: absolute;
   top: 40px;
   right: 0;
   left: 100;
   background:#444857 ;
}
.drop-menu-list .btn:hover {
   opacity: 1;
   cursor: pointer;
   background: #fff;
   color: #000;
   transition: 0.3s;
}
.drop-menu-list .btn {
   border-bottom: 2px solid #fff;
}
.hide {
   display: none;
}
@media (max-width:780px) {
    .about-infor {
      margin-left: 12px;
        flex-direction: column;
        align-items: center;
    }
    .about-img {
        margin-top: 24px;

    }
    .about-img- img {
        max-width:20%;
    }
    .discography-img {
     flex-direction: column;
     align-items: center;
    }
    .discography-img-infor {
      width: 80%;
      margin: 0 12px;
    }
    .discography-img-infor p {
      font-size: 24px;
      margin-top: 24px;
    }
    .discography,
    .about {
     margin: 24px 12px;
    }
    .drop-menu {
      display: flex;
    }
    .nav-list-button {
      display: none;
    }
    
    
}